
<div class="card">
  <img [src]="producto.imagen" class="card-img-top" alt="Imagen producto">

  <div class="card-body">
    <h5 class="card-title">{{ producto.nombre }}</h5>
    <p class="card-text">{{ producto.descripcion }}</p>

    <div class="price-container">
      <p class="price">{{ producto.precio | currency: 'S/ ' : 'symbol-narrow' : '1.2-2'}}</p>

      <a [href]="producto.whatsapp" target="_blank" class="btn btn-primary">
        Comprar
        <i class="fa-brands fa-whatsapp"></i>
      </a>
    </div>
  </div>
</div>
