<nav>
  <div class="logo">
    <img routerLink="product" class="logo-img" src="assets/logo.png" alt="">
  </div>

  <input [ngModel]="click" (ngModelChange)="click = $event" type="checkbox" id="click" />
  <label for="click" class="menu-btn">
    <i class="fas fa-bars"></i>
  </label>

  <ul [ngClass]="{'none': click}">
    <li  *ngFor="let item of nav" >
      <a (click)="onClick()" for="click" [routerLink]="item.route" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">{{ item.name }}</a>
    </li>
  </ul>
</nav>
