.container {
  margin: 3rem auto;
}

.titulo {
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.linea {
    width: 100%;
    height: 1px;
    background-color: #ccc;
    margin-bottom: 1rem;
}

.accordion-button {
    background-color: #fff;
    color: #000;
    border: 1px solid #ccc;
    border-radius: 0;
    font-size: 2rem;
    font-weight: 500;
}

/* Imagen centrada */
.img-fluid {
    margin-top: 1rem;
}
