
<div class="container">

  <h1 class="titulo">Tips para la apicultura</h1>
  <p class="linea"></p>

  <div class="accordion" id="accordionExample">
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          #1 Selección de la ubicación del colmenar
        </button>
      </h2>
      <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
        <img class="img-fluid rounded mx-auto d-block" src="../../../../assets/images/tips/tip1.jpg" alt="Imagen de tip 1">
        <div class="accordion-body">
          El éxito en la crianza de abejas y producción de miel comienza con la elección adecuada del lugar para establecer el colmenar. Busca un área que esté alejada de fuentes de contaminación, pesticidas y corrientes de aire fuertes. Un entorno con acceso a agua fresca también es esencial para las abejas. La orientación de las colmenas debe ser hacia el sol, preferiblemente hacia el este, para que las abejas se calienten rápidamente y salgan a forrajear temprano.
        </div>
      </div>
    </div>

    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          #2  Selección de la especie de abejas
        </button>
      </h2>
      <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
        <img class="img-fluid rounded mx-auto d-block" src="../../../../assets/images/tips/tip2.jpg" alt="Imagen de tip 2">
        <div class="accordion-body">
          La elección de la especie de abejas es crucial. Las abejas europeas (Apis mellifera) son las más comunes para la producción de miel. Investiga y elige una raza adaptada a tu región y condiciones climáticas. Razas como la italiana, la carnica o la caucásica pueden ser opciones viables según tus necesidades y clima local.
        </div>
      </div>
    </div>

    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          #3 Proporciona alimento adecuado
        </button>
      </h2>
      <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
        <img class="img-fluid rounded mx-auto d-block" src="../../../../assets/images/tips/tip3.jpg" alt="Imagen de tip 1">
        <div class="accordion-body">
          Durante la temporada de floración, asegúrate de que tus abejas tengan acceso a una variedad de fuentes de néctar y polen. Planta flores y cultivos que sean atractivos para las abejas, y evita el uso de pesticidas nocivos. Además, puedes considerar la alimentación suplementaria con jarabe de azúcar en caso de escasez de recursos naturales.
        </div>
      </div>
    </div>

    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
          #4 Manejo de enfermedades y plagas
        </button>
      </h2>
      <div id="collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
        <img class="img-fluid rounded mx-auto d-block" src="../../../../assets/images/tips/tip4.jpg" alt="Imagen de tip 1">
        <div class="accordion-body">
          Mantén un programa de inspección regular para detectar cualquier signo de enfermedad o infestación de ácaros como Varroa destructor. Utiliza métodos de control orgánicos o químicos según las necesidades, pero asegúrate de seguir las pautas de seguridad y respetar los plazos de retiro de productos químicos.
        </div>
      </div>
    </div>

    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
          #5 Manejo estacional
        </button>
      </h2>
      <div id="collapseFive" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
        <img class="img-fluid rounded mx-auto d-block" src="../../../../assets/images/tips/tip5.jpg" alt="Imagen de tip 1">
        <div class="accordion-body">
          Adapta tus prácticas de manejo según las estaciones. En invierno, asegúrate de que las colmenas estén aisladas para mantener el calor y proporciona alimento suplementario. Durante la primavera y el verano, realiza inspecciones regulares, evita la congestión de la colmena y considera dividir las colmenas para prevenir el enjambre.
        </div>
      </div>
    </div>

    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
          #6 Control de enjambres
        </button>
      </h2>
      <div id="collapseSix" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
        <img class="img-fluid rounded mx-auto d-block" src="../../../../assets/images/tips/tip6.jpg" alt="Imagen de tip 1">
        <div class="accordion-body">
          El enjambre es un proceso natural, pero puede afectar la producción de miel. Proporciona suficiente espacio en las colmenas para evitar la congestión y realiza divisiones si es necesario. También puedes implementar técnicas de manejo de la reina para controlar la impulsión de enjambres.
        </div>
      </div>
    </div>

    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
          #7 Extracción de la miel
        </button>
      </h2>
      <div id="collapseSeven" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
        <img class="img-fluid rounded mx-auto d-block" src="../../../../assets/images/tips/tip7.jpg" alt="Imagen de tip 1">
        <div class="accordion-body">
          La extracción de miel debe realizarse con cuidado para no dañar las abejas ni la estructura de la colmena. Utiliza herramientas adecuadas como ahumadores y desoperculadores para retirar las tapas de cera de los panales. Considera métodos de extracción que minimicen el estrés para las abejas, como la extracción centrífuga.
        </div>
      </div>
    </div>

    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
          #8 Procesamiento y almacenamiento de la miel
        </button>
      </h2>
      <div id="collapseEight" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
        <img class="img-fluid rounded mx-auto d-block" src="../../../../assets/images/tips/tip8.jpg" alt="Imagen de tip 1">
        <div class="accordion-body">
          Una vez extraída, la miel debe ser procesada y almacenada adecuadamente. Filtra la miel para eliminar impurezas y particulas de cera. Almacénala en recipientes herméticos en un lugar fresco y oscuro para preservar su calidad y evitar la cristalización prematura.
        </div>
      </div>
    </div>

    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseNine" aria-expanded="false" aria-controls="collapseNine">
          #9 Etiquetado y comercialización
        </button>
      </h2>
      <div id="collapseNine" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
        <img class="img-fluid rounded mx-auto d-block" src="../../../../assets/images/tips/tip9.jpg" alt="Imagen de tip 1">
        <div class="accordion-body">
          Si planeas vender tu miel, asegúrate de cumplir con las regulaciones de etiquetado y seguridad alimentaria de tu región. Etiqueta claramente el producto con información sobre su origen y contenido. Considera la posibilidad de crear una marca y una estrategia de comercialización para diferenciar tu miel en el mercado.
        </div>
      </div>
    </div>

    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTen" aria-expanded="false" aria-controls="collapseTen">
          #10 Educación continua
        </button>
      </h2>
      <div id="collapseTen" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
        <img class="img-fluid rounded mx-auto d-block" src="../../../../assets/images/tips/tip10.jpg" alt="Imagen de tip 1">
        <div class="accordion-body">
          La crianza de abejas y la producción de miel requieren aprendizaje constante. Mantente actualizado sobre las últimas prácticas de manejo, investigaciones y avances en la apicultura. Participa en asociaciones de apicultores, asiste a talleres y seminarios, y comparte experiencias con otros apicultores para mejorar tus habilidades y conocimientos.
        </div>
      </div>
    </div>
  </div>
</div>
