<footer>
  <section class="footer-top-wrapper contenedor">
      <section class='footer-top'>
          <img routerLink="product" class="logo" src="../../../../assets/logo.png" title='Logo' alt='Logo' />
          <div class='iconos-redes-sociales'>
              <a>
                <i class="fa-brands fa-instagram"></i>
              </a>

              <a>
                <i class="fa-brands fa-twitter"></i>
              </a>

              <a>
                <i class="fa-brands fa-facebook"></i>
              </a>

              <a>
                <i class="fa-brands fa-whatsapp"></i>
              </a>
          </div>
      </section>

      <section class="list-container">
          <menu>
              <h2>Atheros Learning</h2>
              <li>
                  <a>For Students</a>
              </li>
              <li>
                  <a>For Lectors</a>
              </li>
              <li>
                  <a>Sign-Up/Log-In</a>
              </li>
          </menu>
      </section>

      <section class="list-container">
          <menu>
              <h2>Atheros Cloud</h2>
              <li>
                  <a>Private Data Detector</a>
              </li>
              <li>
                  <a>Text Classification</a>
              </li>
              <li>
                  <a>Duplicates Detector</a>
              </li>
          </menu>
      </section>

      <section class="list-container">
          <menu>
              <h2>Páginas</h2>
              <li>
                  <a routerLink="product/nosotros">Nosotros</a>
              </li>
              <li>
                  <a routerLink="product/productos">Productos</a>
              </li>
              <li>
                  <a routerLink="product/tips">Tips</a>
              </li>
              <li>
                  <a routerLink="product/contacto">Contacto</a>
              </li>
          </menu>
      </section>
  </section>

  <section class="footer-bottom">
          <small>© Tucno Ltd. 2023 All rights reserved</small>
  </section>
</footer>
