<footer>
  <section class="footer-top-wrapper contenedor">
      <section class='footer-top'>
          <img routerLink="product" class="logo" src="../../../../assets/logo.png" title='Logo' alt='Logo' />
          <div class='iconos-redes-sociales'>
              <a class="social-link1 icon" href="https://www.instagram.com/" target="_blank">
                <i class="fa-brands fa-instagram"></i>
              </a>

              <a class="social-link2 icon" href="https://twitter.com/" target="_blank">
                <i class="fa-brands fa-twitter"></i>
              </a>

              <a class="social-link3 icon" href="https://www.facebook.com/profile.php?id=61550192152876" target="_blank" rel="sponsored">
                <i class="fa-brands fa-facebook"></i>
              </a>

              <a class="social-link4 icon" href="https://wa.me/message/6UTKAVYKVGGZJ1" target="_blank">
                <i class="fa-brands fa-whatsapp"></i>
              </a>
          </div>
      </section>

      <section class="list-container">
          <menu>
              <h2>Información</h2>
              <li>
                  <a>Stocks</a>
              </li>
              <li>
                  <a>Tiendas</a>
              </li>
              <li>
                  <a>Noticias</a>
              </li>
          </menu>
      </section>

      <section class="list-container">
          <menu>
              <h2>Legal</h2>
              <li>
                  <a>Politicas</a>
              </li>
              <li>
                  <a>Privacidad</a>
              </li>
          </menu>
      </section>

      <section class="list-container">
          <menu>
              <h2>Páginas</h2>
              <li>
                  <a routerLink="product/nosotros">Nosotros</a>
              </li>
              <li>
                  <a routerLink="product/productos">Productos</a>
              </li>
              <li>
                  <a routerLink="product/tips">Tips</a>
              </li>
              <li>
                  <a routerLink="product/contacto">Contacto</a>
              </li>
          </menu>
      </section>
  </section>

  <section class="footer-bottom">
          <small>© Tucno Ltd. 2023 Todos los derechos reservados</small>
  </section>
</footer>
