<div class="container">
  <h1 class="titulo">Acerca de Happiness and Honey</h1>
  <!-- Escribe una presentacion de la emmpresa Happiness and Honey, que es un empresa de venta de productos de miel de abeja -->
  <p>
    Happiness and Honey es una empresa dedicada a la venta de productos de miel
    de abeja, que se encuentra ubicada en la ciudad de Ayacucho, Perú.
  </p>

  <h2 class="subtitulo">Misión</h2>
  <!-- Escribe la misión de la empresa Happiness and Honey -->
  <p>
    Nuestra misión es ofrecer productos de miel de abeja de calidad, que
    satisfagan las necesidades de nuestros clientes.
  </p>

  <h2 class="subtitulo">Visión</h2>
  <!-- Escribe la visión de la empresa Happiness and Honey -->
  <p>
    Nuestra visión es ser una empresa líder en la venta de productos de miel de
    abeja en el Perú.
  </p>

  <h2 class="subtitulo">Valores</h2>
  <!-- Escribe los valores de la empresa Happiness and Honey -->
  <p>Los valores de nuestra empresa son: <br /></p>
  <ul>
    <li>Responsabilidad</li>
    <li>Respeto</li>
    <li>Compromiso</li>
    <li>Trabajo en equipo</li>
  </ul>

  <h2 class="subtitulo">Objetivos</h2>
  <!-- Escribe los objetivos de la empresa Happiness and Honey -->
  <p>
    Nuestros objetivos son: <br />
  </p>

  <ul>
    <li>Ofrecer productos de miel de abeja de calidad.</li>
    <li>Brindar un buen servicio a nuestros clientes.</li>
    <li>
      Ser una empresa líder en la venta de productos de miel de abeja en el
      Perú.
    </li>
  </ul>
</div>
