.titulo {
  font-size: 50px;
  font-weight: bold;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.subtitulo{
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.container {
  margin-bottom: 5rem;
}

#mapa {
  text-align: center;
  margin-top: 20px;
}

#mapa img {
  max-width: 100%;
  height: auto;
  cursor: pointer;
}
