<div class="container">
  <h1 class="titulo">Acerca de Happiness and Honey</h1>
  <!-- Escribe una presentacion de la emmpresa Happiness and Honey, que es un empresa de venta de productos de miel de abeja -->
  <p>
    Happiness and Honey es una empresa dedicada a la venta de productos de miel
    de abeja, que se encuentra ubicada en la ciudad de Ayacucho, Perú.
  </p>

  <h2 class="subtitulo">Nuestra historia</h2>
  <!-- Escribe la historia de la empresa Happiness and Honey -->
  <p>
    Happiness and Honey fue fundada en el año 2012 por mi padre que decidieron
    emprender un negocio de venta de productos de miel de abeja.
  </p>

  <p>
    En el corazón de la pintoresca ciudad de Ayacucho, Perú, nació Happiness and
    Honey con un propósito claro: ofrecer a nuestros clientes la esencia pura de
    la naturaleza en forma de miel de abeja de la más alta calidad. Fundada en
    [año de fundación], nuestra empresa se ha convertido en un referente en el
    mundo de los productos de la colmena.
  </p>

  <p>
    Nuestro viaje comenzó con un profundo amor y respeto por las abejas y su
    invaluable contribución a la biodiversidad y la sostenibilidad del
    ecosistema. Nos inspiró la idea de compartir los tesoros que estas
    incansables trabajadoras producen con tanto esmero.
  </p>

  <p>
    Desde el inicio, nuestra misión ha sido clara: satisfacer las necesidades de
    nuestros clientes al proporcionar productos de miel de abeja de la más alta
    calidad. Trabajamos incansablemente para garantizar que cada gota de miel
    que llega a su mesa sea un testimonio de nuestro compromiso con la
    excelencia y la autenticidad.
  </p>

  <p>
    Nos enorgullece decir que, a lo largo de los años, hemos crecido y
    prosperado gracias a la confianza que nuestros clientes han depositado en
    nosotros. A medida que evolucionamos, nuestra visión se amplía. No solo
    queremos ser reconocidos como líderes en la venta de productos de miel de
    abeja en el Perú, sino también como una empresa que promueve la apreciación
    de la naturaleza y la preservación de las abejas.
  </p>

  <p>
    En Happiness and Honey, estamos comprometidos con la sostenibilidad, la
    calidad y la autenticidad. Trabajamos en estrecha colaboración con
    apicultores locales, cuidando cada etapa de la producción para garantizar
    que cada producto que ofrecemos sea un reflejo fiel de la riqueza de la
    biodiversidad de Ayacucho y la dedicación de nuestras abejas.
  </p>

  <p>
    A medida que continuamos nuestro viaje, invitamos a todos a unirse a
    nosotros en la celebración de la dulzura de la naturaleza y a descubrir la
    felicidad en cada gota de miel de Happiness and Honey. Juntos, podemos
    construir un mundo más saludable y equilibrado mientras disfrutamos de uno
    de los regalos más puros de la madre naturaleza.
  </p>

  <p>
    Gracias por ser parte de nuestra historia y por permitirnos ser parte de la
    suya.
  </p>

  <h2 class="subtitulo">Misión</h2>
  <!-- Escribe la misión de la empresa Happiness and Honey -->
  <p>
    Nuestra misión es ofrecer productos de miel de abeja de calidad, que
    satisfagan las necesidades de nuestros clientes.
  </p>

  <h2 class="subtitulo">Visión</h2>
  <!-- Escribe la visión de la empresa Happiness and Honey -->
  <p>
    Nuestra visión es ser una empresa líder en la venta de productos de miel de
    abeja en el Perú.
  </p>

  <h2 class="subtitulo">Valores</h2>
  <!-- Escribe los valores de la empresa Happiness and Honey -->
  <p>Los valores de nuestra empresa son: <br /></p>
  <ul>
    <li>Responsabilidad</li>
    <li>Respeto</li>
    <li>Compromiso</li>
    <li>Trabajo en equipo</li>
  </ul>

  <h2 class="subtitulo">Objetivos</h2>
  <!-- Escribe los objetivos de la empresa Happiness and Honey -->
  <p>Nuestros objetivos son: <br /></p>

  <ul>
    <li>Ofrecer productos de miel de abeja de calidad.</li>
    <li>Brindar un buen servicio a nuestros clientes.</li>
    <li>
      Ser una empresa líder en la venta de productos de miel de abeja en el
      Perú.
    </li>
  </ul>

  <h2 class="subtitulo">Ubícanos</h2>
  <p>Haz click en la imagen para ir a google maps</p>
  <section id="mapa">
    <a href="https://goo.gl/maps/53iXXs5fRxCZRsLJ8" target="_blank">
        <img src="../../../../assets/images/mapa.jpg" alt="Mapa de ubicación">
    </a>
</section>
</div>
