<nav class="navbar navbar-expand-lg bg-dark navbar-light d-none d-lg-block" id="templatemo_nav_top">
  <div class="container text-light">
    <div class="w-100 d-flex justify-content-between">
      <div>
        <a class="navbar-sm-brand text-light text-decoration-none" href="mailto:tucnoperezbrizaida@gmail.com"><i class="fa fa-envelope mx-2"></i>tucnoperezbrizaida@gmail.com</a> |
        <a class="navbar-sm-brand text-light text-decoration-none" href="tel:974435654"><i class="fa fa-phone mx-2"></i>974 435 654</a>
      </div>

      <!-- <div>
      </div> -->

      <div class="card">
        <a class="social-link1 icon" href="https://www.instagram.com/" target="_blank"><i class="fab fa-instagram fa-sm fa-fw me-2"></i></a>
        <a class="social-link2 icon" href="https://twitter.com/" target="_blank"><i class="fab fa-twitter fa-sm fa-fw me-2"></i></a>
        <a class="social-link3 icon" href="https://fb.com" target="_blank" rel="sponsored"><i class="fab fa-facebook-f fa-sm fa-fw me-2"></i></a>
        <a class="social-link4 icon" href="https://www.whatsapp.com" target="_blank"><i class="fab fa-whatsapp fa-sm fa-fw"></i></a>
      </div>
    </div>
  </div>
</nav>
